@import "../../styles.scss";
@keyframes spin {
  
    from {
      transform: rotate( 0deg );
    }
    
    to {
      transform: rotate( -360deg );
    }
  }
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background: url("../../images/bg.webp");
    background-repeat: repeat;
    background-attachment: fixed;
    
    img{
        width: 50%;
        min-width: 650px;
    }
    
}

@media (max-width: 700px) {
    header{
    img{
        width: 100%;
        min-width: 0px;
    }
}}