@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap");

$yellow: #fafd7cff;
$brown: #82391eff;
$dark-blue: #24325fff;
$light-blue: #b7e4f9ff;
$blue: #59c8ecff;
$light-teal: #a6eee6ff;
$red: #fb6466ff;
$green: #526e2dff;
$pink: #e762d7ff;
$orange: #e89242ff;
$sandy: #fae48bff;
$light-brown: #917c5dff;

body {
  margin: 0px;
}
.text-bold {
  font-weight: 700;
}

h1,
h2 {
  font-family: "Creepster", cursive, ;
}
* {
  font-family: "Rajdhani", sans-serif;
}
